/* styles/siteplan.css */
:root {
    --background-color: #EDE0D4;
    --accent-color: #76441b;
    --secondary-color: #E5C49B;
    --button-border-color: #A67C52;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Italiana', serif;
    color: var(--accent-color);
}

header, footer {
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.background-color-box {
    background-color: var(--background-color);
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.font-color-box {
    background-color: var(--font-color);
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.accent-color-box {
    background-color: var(--accent-color);
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.secondary-color-box {
    background-color: var(--secondary-color);
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
